* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.nav-edit {
    display: flex;
    flex-direction: row;
    width: 1349px;
    align-items: center;
    gap: 25rem;  
    height: 50px;
    /* position: fixed; */
    justify-content: space-around;
}

.white-color {
    color: white;
}

.green-color {
    color: #72B12A;
}

.nav-items {
    display: flex;
    flex-direction: row;
    gap: 10px;
    text-decoration: none;
}

.remove-text-decoration {
    text-decoration: none;
}

.black-color {
    color: black;
}

.hero-background {
    background-image: url(assets/IMG/tractor.jpg);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    object-fit: contain;
    background-attachment: fixed;
    text-align: left;
   padding: 50px 50px;

}
/* .hero-opacity {
    background-color: rgba(0, 0, 0, 0.568); */



.hero-items {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    margin: 25px;
    gap: 50px;
    

}

.contact-edit {
    text-decoration: none;
    background-color: #43611A;
    height: 50px;
    width: 100px;

}

.header-edit {
    color: rgb(7, 7, 7);
    size: 100px;
    font-size: 4rem;
}

.harvest-image {
    margin: 150px 150px;
    display: flex;
    flex-direction: column;
    
}

.sub-harvest {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    font-size: 20px;
    align-items: center;
}

.sub-harvest-header {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
    margin-top: 20px;
}

.about-us {
    display: flex;
    flex-direction: row;
    padding: 50px 100px;
}

.about-us-section {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    width: 60%;
    align-content:space-between;

}

.read-more-button {
    width: 120px;
    height: 30px;
    background-color: #77B122;
    color: white;
    text-size-adjust: 50px;
}
.flex-leaf {
    width: 100vw;

}

#footer-background {
    background-image: url(./assets/IMG/footerimage.jpg);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    object-fit: contain;
    background-attachment: fixed;
}

.footer-down {
    background-color: black;
    width: 100vw;
    height: 50px;
    display: flex;
    flex-direction: row;
    color: white;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
    
}

.last-item {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    margin: 25px;
}

.button-edit2 {
    margin-top: 5px;
}


