.nav-edit {
    display: flex;
    flex-direction: row;
    background-color: #FFFFFF;
    width: 1349px;
    align-items: center;
    gap: 25rem;  
}

.white-color {
    color: white;
}

.green-color {
    color: #72B12A;
}

.nav-items {
    display: flex;
    flex-direction: row;
    gap: 10px;
    text-decoration: none;
}

.remove-text-decoration {
    text-decoration: none;
}

.black-color {
    color: black;
}

#hero-background {
    background-image: url(assets/IMG/tractor.jpg);
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;

}

.hero-items {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: auto;
    
}

#contact-edit {
    text-decoration: none;

}